@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewData["Title"] = "Home Page";
}

<style>
    .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>


<div id="Wrapper" class="centered" >
    <a asp-controller="Home" asp-action="Menu"><img src="~/images/allerlei/logo.png" /></a> 
</div>
