
@{
    ViewData["Title"] = "OrderTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order Tickets</h1>

<p>Please fill out following fields</p>

<a asp-controller="Home" asp-action="Home">Back</a>